{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Shobai is a " />
      <meta name="keywords" content="SME Marketplace, keyword2, keyword3" />
      <title>
         {% block title %}
            Shobai
         {% endblock title %}
      </title>
      <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Mulish:wght@200..800&display=swap" />
      <link rel="stylesheet" href="{% static 'css/lenis.min.css' %}" />
      {% tailwind_css %}
   </head>
   <body class="min-h-screen antialiased text-muted-foreground font-medium">
      {% include "snippets/Toast.html" %}

      <!-- Backgound Gradients -->
      <div class="absolute inset-0 h-screen w-screen overflow-hidden -z-50">
         <div class="size-48 md:size-72 lg:size-80 xl:size-[32rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex-shrink-0 bg-orange-300 -z-50">
         </div>
         <div class="size-48 md:size-72 lg:size-80 xl:size-[32rem] rounded-full absolute left-0 top-0 -translate-x-[30%] -translate-y-[21.5%] flex-shrink-0 bg-blue-300 -z-50">
         </div>
         <div class="hidden lg:block lg:size-80 xl:size-[32rem] rounded-full absolute top-0 left-1/2 -translate-x-1/2 -translate-y-[46.875%] flex-shrink-0 bg-teal-100 -z-50">
         </div>
         <div class="size-48 md:size-72 lg:size-80 xl:size-[32rem] rounded-full absolute top-0 right-0 translate-x-[30%] -translate-y-[32%] flex-shrink-0 bg-green-400 -z-50">
         </div>
         <div class="size-48 md:size-72 lg:size-80 xl:size-[32rem] rounded-full absolute left-0 bottom-0 -translate-x-[12.5%] translate-y-[22.65%] flex-shrink-0 bg-orange-200 -z-50">
         </div>
         <div class="size-48 md:size-72 lg:size-80 xl:size-[32rem] rounded-full absolute right-0 bottom-0 translate-x-[30.45%] translate-y-[46.875%] flex-shrink-0 bg-violet-500 -z-50">
         </div>
         <div class="fixed inset-0 bg-white/75 backdrop-blur-[90px] -z-40"></div>
      </div>

      <!-- Main Content -->
      <div class="relative flex flex-col h-screen w-screen overflow-y-auto">
         {% block body %}
         {% endblock body %}
      </div>
      <script src="{% static 'js/script.js' %}" defer></script>
   </body>
</html>
