@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --surface: 0 0% 96%;
      --background: 0 0% 100%;
      --foreground: 213 33% 13%; /* #16202c */
      --primary: 217 91% 60%;
      --primary-foreground: 0 0% 100%;
      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 213 33% 13%;
      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;
      --accent: 220 14.3% 95.9%;
      --accent-foreground: 213 33% 13%;
      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;
      --destructive: 0 84.2% 60.2%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 222 100% 89%;
      --radius: 0.5rem;
   }

   label {
      @apply text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-foreground;
   }

   .input,
   .password-field {
      @apply px-3 flex h-11 w-full rounded-md border border-input bg-background py-2 text-sm text-foreground ring-offset-2 ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
   }

   [data-password="hidden"] > g:nth-child(1) {
      @apply hidden;
   }

   [data-password="visible"] > g:nth-child(2) {
      @apply hidden;
   }
}

@layer components {
   .btn {
      @apply inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 transition-transform active:scale-95 px-4 py-2 h-10 gap-x-3;
   }

   .btn-primary {
      @apply bg-primary text-primary-foreground hover:bg-primary/90;
   }

   .btn-outlined {
      @apply border border-input bg-background hover:bg-accent text-secondary-foreground hover:text-accent-foreground;
   }

   .btn-link {
      @apply active:scale-100 hover:no-underline text-primary underline-offset-4;
   }
}

@layer utilities {
   .flex-center {
      @apply flex items-center justify-center;
   }
}
