{% load static %}
<aside class="py-10 fixed left-0 inset-y-0 w-80 h-screen flex flex-col z-10 text-gray-800 gap-y-10">
   <div class="px-10">{% include "snippets/Logo.html" %}</div>

   <ul class="px-7 grid text-lg font-semibold">
      <li>
         <a href="{% url 'home' %}"
            class="p-3 inline-flex items-center rounded-full hover:bg-white/50 text-foreground group">
            {% include "icons/Home.html" %}
            <span class="block ml-5 mr-4">Home</span>
         </a>
      </li>

      <li>
         <a href="{% url 'home' %}"
            class="p-3 inline-flex items-center rounded-full hover:bg-white/50 text-foreground group">
            {% include "icons/User.html" %}
            <span class="block ml-5 mr-4">Profile</span>
         </a>
      </li>

      <li>
         <a href="{% url 'home' %}"
            class="p-3 inline-flex items-center rounded-full hover:bg-white/50 text-foreground group">
            {% include "icons/Bell.html" %}
            <p class="ml-5 mr-4 inline-flex items-center gap-x-2">
               <span>Notifications</span>
               {% comment %} <span class="px-2 py-1 inline-flex items-center justify-center min-w-8 rounded-full bg-white/75 text-muted-foreground leading-none text-sm">0</span> {% endcomment %}
            </p>
         </a>
      </li>

      <li>
         <a href="{% url 'home' %}"
            class="p-3 inline-flex items-center rounded-full hover:bg-white/50 text-foreground group">
            {% include "icons/ShoppingCart.html" %}
            <p class="ml-5 mr-4 inline-flex items-center gap-x-2">
               <span>Cart</span>
               <span class="px-2 py-1 inline-flex items-center justify-center min-w-8 rounded-full bg-white/75 text-muted-foreground leading-none text-sm">0</span>
            </p>
         </a>
      </li>

      <li>
         <a href="{% url 'home' %}"
            class="p-3 inline-flex items-center rounded-full hover:bg-white/50 text-foreground group">
            {% include "icons/Shop.html" %}
            <span class="block ml-5 mr-4">Following</span>
         </a>
      </li>

      <li>
         <a href="{% url 'home' %}"
            class="p-3 inline-flex items-center rounded-full hover:bg-white/50 text-foreground group">
            {% include "icons/Wishlist.html" %}
            <span class="block ml-5 mr-4">Wishlist</span>
         </a>
      </li>
   </ul>

   <div class="px-7 mt-auto">
      {% if user.is_authenticated %}
         <div class="relative p-3 flex items-center gap-x-3 rounded-xl bg-white shadow-card w-full">
            <img src="media/{{ user.image }}"
                 width="40"
                 height="40"
                 alt="Profile Picture"
                 class="size-11 rounded-full flex-shrink-0 border border-gray-200" />

            <div class="text-left w-full leading-none space-y-1">
               <p class="font-semibold">{{ user.name }}</p>
               <p class="text-sm text-muted-foreground">Account Settings</p>
            </div>

            <button onclick="ShowUserMenu(this)"
                    class="size-9 rounded-full flex-shrink-0 bg-gray-50 flex items-center justify-center active:scale-75 transition-all">
               {% include "icons/Menu.html" %}
            </button>

            <!-- Menu -->
            <ul id="account-details-menu"
                class="hidden p-2 absolute inset-x-0 bottom-[calc(100%+0.5rem)] bg-white rounded-lg shadow-card origin-bottom animate-scale-in">
               <li>
                  <a href="{% url 'become-merchant' %}"
                     class="px-2 py-1 w-full inline-flex items-center gap-x-4 hover:bg-accent group rounded-md">
                     <div class="size-9 flex-center bg-gray-100 rounded-full">{% include "icons/Address.html" %}</div>
                     <span>Address Book</span>
                  </a>
               </li>

               <li>
                  <a href="{% url 'become-merchant' %}"
                     class="px-2 py-1 w-full inline-flex items-center gap-x-4 hover:bg-accent group rounded-md">
                     <div class="size-9 flex-center bg-gray-100 rounded-full">
                        {% include "icons/MerchantShop.html" %}
                     </div>
                     <span>Become a merchant</span>
                  </a>
               </li>

               <li>
                  <a href="{% url 'logout' %}"
                     class="px-2 py-1 w-full inline-flex items-center gap-x-4 hover:bg-accent group rounded-md">
                     <div class="size-9 flex-center bg-gray-100 rounded-full">{% include "icons/Logout.html" %}</div>
                     <span>Log out</span>
                  </a>
               </li>
            </ul>
         </div>
      {% else %}
         <div class="flex items-center gap-x-3">
            <a href="{% url 'login' %}"
               class="px-4 py-2 w-full bg-primary text-primary-foreground rounded-full flex-center border border-primary">Log in</a>
            <a href="{% url 'register' %}"
               class="px-4 py-2 w-full bg-white text-muted-foreground rounded-full flex-center border border-orange-100">Register</a>
         </div>
      {% endif %}
   </div>
</aside>
