{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% block title %}Shobai{% endblock %}</title>
      <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         rel="stylesheet"
         href="https://fonts.googleapis.com/css2?family=Mulish:wght@200..800&display=swap"
      />
      <link rel="stylesheet" href="{% static 'css/lenis.min.css' %}" />
      {% tailwind_css %}
   </head>
   <body class="min-h-screen antialiased text-muted-foreground font-medium">
      {% include 'includes/Toast.html' %}{% block content %}{% endblock content %}
      <script src="{% static 'js/script.js' %}" defer></script>
   </body>
</html>
